/* TODO Add site wide styles */

@import "./reset.css";

* {
    box-sizing: border-box;
}

.image-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#root {
    --receptions-hover: #2C6BED;
}